VITE_SUPABASE_PROJECT_ID=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=
VITE_PUBLIC_APP_URL=

# InPost Geowidget & ShipX Sandbox Configuration
VITE_INPOST_GEOWIDGET_TOKEN=
INPOST_SHIPX_ORGANIZATION_ID=
INPOST_SHIPX_TOKEN=
INPOST_SHIPX_ENV=sandbox
